$brown:     #1b1402;
$yellow:    #f4dc98;
$lime:      #d2e315;
$green:     #cee012;
$red:       #ff0000;

$blue-sky:  #8ed0e2;
$blue-skyh: #68c3d5;
$blue-sea:  #1d7f9a;
$blue-bar:  #c1e2e8;
$blue-text: #8ed0e2;
$blue-bold: #096077;

$grey-dark: #222;
$grey:      #454545;
$grey-text: #4b4a4a;
$grey-bio:  #8f8f8f;
$grey-box:  #ececec;
$grey-bord: #959595;
$grey-med:  #aaa;
$grey-grid: #ccc;
$grey-lite: #ddd;

$sch-bg:      #f1fcfe;
$sch-bg-rgb:  rgba(241, 252, 254, .6);
$sch-bg2:     #e0f1f4;
$sch-bg2-rgb: rgba(224, 241, 244, .6);
